<div class="row">
    <div class="col fs-6 fw-bold">
        <p>{{questionInfo?.sequence}}. {{questionInfo?.title}}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card bg-body-secondary border border-0">
            <div class="card-body">
                @for (item of questionInfo?.questionAnswerInfo; track $index) {
                    <div class="pb-2">
                        <input type="checkbox" id="{{item.questionAnswerId}}" [checked]="answers.includes(item.questionAnswerId!)" (change)="onChange(item.questionAnswerId)"/>
                        <label class="ps-2" for="{{item.questionAnswerId}}">{{item.sequence}}. {{item.answer}}</label>
                    </div>
                }
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary" (click)="previousQuiz()" *ngIf="questionInfo?.sequence! > 1">Back</button>
                    <button type="button" class="btn btn-primary ms-2" (click)="nextQuiz()">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
